.aboutMe h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 20px;
    font-size: 25px;
    letter-spacing: 1.8px;
}
.aboutMe .tittle{
    text-decoration-line: underline;
}
.aboutMe h3{
    margin: 40px 10px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.2px;
}
.aboutMe p {
    margin: 30px 20px ;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    text-align: left;
}
.aboutMe li{
    margin: 10px 20px 10px 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    text-align: left;
}
.aboutMe ul{
    margin: 20px
}
.aboutMe .diet , .rehab{
    font-weight: bold;
    margin: 20px 20px ;
}
.aboutMe img {
    position:  relative;
    display: block;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    margin: 40px 0 
}
@media (min-width: 768px) and (min-height:783px){
    .aboutMe .tittle{
        font-size: 35px
    }
    .aboutMe h2{
        font-size: 30px
    }
    .aboutMe h1{
        font-size: 35px
    }
}
@media (min-width: 768px) and (min-height:1024px){
    .aboutMe .tittle{
        font-size: 40px
    }
    .aboutMe h2{
        font-size: 35px
    }
    .aboutMe h1{
        font-size: 40px
    }
}

/* landspace */
@media (min-width: 533px) and (orientation: landscape){
    .aboutMe img {       
        width: 60%;
        height: 100vh;
    }
    .aboutMe .tittle{
        font-size: 30px
    }
}
@media (min-width: 812px) and (orientation: landscape)
{
    .aboutMe img {       
        width: 50%;
        height: 100vh;
    }
}
@media (min-width: 1024px) and (orientation: landscape){
    .aboutMe img {       
        width: 40%;
        height: 70vh;
    }
}

/* Deskop */

@media(min-width: 984px) and (min-height: 722px){
    .aboutMe{
        margin:0 100px  
    }
    .aboutMe .tittle{
        font-size: 35px
    }
    .aboutMe h2{
        font-size: 35px
    }
    .aboutMe h1{
        font-size: 40px
    }
    .aboutMe img {       
        width: 35%;
        height: 60vh;
    }
}
@media (min-width: 1280px) and (min-height: 1024px){
    .aboutMe img {       
        width: 50%;
        height: 60vh;
    }
}

@media (min-width: 1366px) and (min-height: 1024px){
    .aboutMe img {       
        width: 35%;
        height: 50vh;
        
    }
}
@media (min-width: 1368px) and (min-height: 937px){
    .aboutMe img {       
        width: 35%;
        height: 40vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,0%);
        margin: 40px 0 
    }
    .aboutMe .tittle{
        font-size: 40px
    }
    .aboutMe h2{
        font-size: 40px
    }
    .aboutMe h1{
        font-size: 45px
    }
}
@media (min-width: 1440px) and (min-height: 900px){
    .aboutMe img {
        width: 40%;
        height: 60vh;
    }
    .aboutMe .tittle{
        font-size: 45px
    }
    .aboutMe{
        width: 90%;
    margin: 0 auto
    }
}
@media (min-width: 1536px) and (min-height: 864px){
    .aboutMe img {
        width: 45%;
        height: 70vh;
    }
}
@media (min-width: 1920px) and (min-height: 1080px){
.aboutMe{
    width: 90%;
margin: 0 auto
}
.aboutMe .tittle{
    font-size: 50px
}
.aboutMe img {
    width: 45%;
    height: 75vh;
}
}
@media (min-width: 1920px) and (min-height:1200px){
    .aboutMe img {
        width: 45%;
        height: 65vh;
    }
}
@media (min-width: 1930px) and (min-height:1080px){
    .aboutMe .tittle{
        font-size: 120px
    }
    .aboutMe h2{
        font-size: 110px
    }
    .aboutMe h1{
        font-size: 100px
    }
    .aboutMe img {
        width: 30%;
        height: 50vh;
    }
}