.contact{
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5
}
.contact h2{
  font-family: 'Oswald', sans-serif;
  margin: 10px
}
.contact h3{
  margin: 15px
}
.contact p{
  margin: 5px
}
iframe{
  width:400px;
  height:300px;
  border: none
}
.form-container{
  margin: 20px 0 20px 0;
  font-family: 'Montserrat', sans-serif;
  height: 0px;
  margin: 10px;
  transition:  height .4s linear
}
.showForm{
  height: 100%;
  }
  .buttonForm{
    background: none;
    border: none;    
    text-transform: uppercase;
    cursor: pointer;
    margin: 20px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 1.5;
  }
 
  .buttonForm p{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.1px;
    text-transform: none
  }
.form_element{
    display: flex;
    flex-direction: column;
}

.form_element input, textarea{
    width: 50%;
    margin: 5px 5px 15px 10px;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 1px;
    outline: none;
}
.form_element label{
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
}
.form_element textarea{
  width: 70%;
}
.btn button{
    border: 1px solid white;
    background: black;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    margin: 40px 0 15px 0;
    border: none ;
    cursor: pointer; 
    outline: none;
    transition: .3s linear
}
.btn button:hover{
  background: white;
  color: black;
  border-radius: 25px
}
.form_element:nth-child(5) {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.form_element:nth-child(5) label{
  width:50%;
  margin: 0px;
}
.form_element:nth-child(5) input{
  width: 5%;
  margin: 8px 0 0 0;
}

.form_element span{
  text-align: left;
  margin: 0 0 30px 10px;
  color: red
}
.form_element:nth-child(5) span{
  display: block;
  margin: 4px 0 0 10px;  
}
.message{
  display: block;
  margin-bottom: 20px;
  color: green
}

/* mobile */

@media (min-width: 411px) and (min-height:823px){
.buttonForm p{
  font-size: 14px
}
}
@media (min-width: 768px) and (min-height:783px){
  .contact h2{
    font-size: 30px
      }
      .buttonForm p{
        font-size: 20px
      }
      .form_element label{
        font-size: 25px
      }
      .form_element input, textarea{
        width: 40%;
        font-size: 20px;
    }
    .form_element:nth-child(5) label{
      width:30%;  
    }
    iframe{
      width:70%;
      height:400px;
      border: none
    }
    .btn button{
      font-size: 25px;
    }
}
@media (min-width: 768px) and (min-height:1024px){
  .contact h2{
font-size: 35px
  }
  .buttonForm p{
    font-size: 20px
  }
  .form_element label{
    font-size: 25px
  }
  .form_element input, textarea{
    width: 40%;
    font-size: 20px;
}
.form_element textarea{
  width: 40%
}
.form_element:nth-child(5) label{
  width:30%;  
}
iframe{
  width:70%;
  height:400px;
  border: none
}
.btn button{
  font-size: 25px;
}
}

/* landspace */

@media (min-width: 533px) and (orientation: landscape){
  .form_element:nth-child(5) label{
    width:35%;
  }
}
@media (min-width: 640px) and (orientation: landscape){
  .form_element:nth-child(5) label{
    width:30%;
  }
}
@media (min-width: 667px) and (orientation: landscape){
  .form_element input, textarea{
    width: 40%;
}
.form_element textarea{
  width: 50%
}
.form_element:nth-child(5) label{
  width:30%;
}
}
@media (min-width: 731px) and (orientation: landscape){
      .form_element input, textarea{
        width: 35%;
    }
    .form_element textarea{
      width: 50%
    }
    .form_element:nth-child(5) label{
      width:25%;
    }
}
@media (min-width: 823px) and (orientation: landscape){
  .form_element input, textarea{
    width: 30%;
}
.form_element textarea{
  width: 45%
}
.form_element:nth-child(5) label{
  width:25%;
}
}
@media (min-width: 1024px) and (orientation: landscape){
  iframe{
    width:80%;
    height:500px;
    border: none
  }
  .form_element:nth-child(5) label{
    width:20%;
  }
}

/* Deskop */
@media (min-width: 984px) and (min-height: 722px){
  .form_element{
    margin: 0 50px 
  }
  .contact h2{
    font-size: 40px
      }
      .buttonForm p{
        font-size: 25px
      }
      iframe{
        width:70%;
        height:500px;
        border: none
      }
      .form_element label{
        font-size: 30px
      }
      .form_element input, textarea{
        width: 40%;
        font-size: 25px;
    }
    .form_element textarea{
      width: 40%
    }
    .form_element:nth-child(5) label{
      width:27%;
      transform: translate(160px)
    }
    .form_element:nth-child(5) input{
      transform: translate(2vw)
    }
    .btn button{
      font-size: 25px;
    }
}
@media (min-width: 1024px) and (min-height:1366px){
  .contact h2{
    font-size: 50px
      }
      .buttonForm p{
        font-size: 30px
      }
      iframe{
        width:80%;
        height:500px;
        border: none
      }
      .form_element label{
        font-size: 40px
      }
      .form_element input, textarea{
        width: 40%;
        font-size: 30px;
    }
    .form_element textarea{
      width: 40%
    }
    .form_element:nth-child(5) label{
      width:35%;
    }
    .btn button{
      font-size: 35px;
    }
} 
@media (min-width: 1280px) and (min-height: 1024px){
  .form_element:nth-child(5) label{
    width:20%;
  }
  .form_element label{
    font-size: 30px
  }
  .form_element input, textarea{
    width: 35%;
    font-size: 30px;
}
.form_element textarea{
  width: 35%
}

}
 @media (min-width: 1366px) and (min-height: 768px){
  .form_element label{
    font-size: 25px
  }
  .form_element input, textarea{
    width: 30%;
    font-size: 25px;
}
.form_element textarea{
  width: 30%
}

.form_element:nth-child(5) label{
  width:18%;
}
.btn button{
  font-size: 20px;
}
iframe{
  width:70%;
  height:500px;
  border: none
}
 }
 @media (min-width: 1440px) and (min-height: 900px){
  .form_element label{
    font-size: 25px
  }
  .form_element input, textarea{
    width: 30%;
    font-size: 30px;
}
.form_element textarea{
  width: 30%
}
.form_element:nth-child(5) label{
  width:15%;
}
.btn button{
  font-size: 25px;
}
.contact h2{
  font-size: 40px
    }
    .buttonForm{
      margin: 50px
    }
    .buttonForm p{
      font-size: 20px
    }
}
@media (min-width: 1536px) and (min-height: 864px){
  .form_element label{
    font-size: 35px
  }
  .form_element input, textarea{
    width: 35%;
    font-size: 35px;
}
.form_element textarea{
  width: 35%
}
.form_element:nth-child(5) label{
  width:20%;
}
.btn button{
  font-size: 35px;
  margin-bottom: 30px
}
.contact h2{
  font-size: 40px
    }
    .buttonForm{
      margin: 50px
    }
    .buttonForm p{
      font-size: 25px
    }
}
@media (min-width: 1600px) and (min-height: 900px){
  iframe{
    width:60%;
    height:500px;
    border: none
  }
}
@media (min-width: 1920px) and (min-height: 1080px){
  .contact h2{
    font-size: 60px
      }
      .buttonForm{
        margin: 50px
      }
      .buttonForm p{
        font-size: 40px
      }
  .form_element label{
    font-size: 35px
  }
  .form_element input, textarea{
    width: 30%;
    font-size: 35px;
}
.form_element textarea{
  width: 30%
}

.form_element:nth-child(5) label{
  width:20%;
}
.btn button{
  font-size: 40px;
}
iframe{
  width:60%;
  height:700px;
  border: none
}
}
@media (min-width: 1930px) and (min-height:1080px){
  .form_element label{
    font-size: 90px
  }
  .form_element input, textarea{
    width: 30%;
    font-size: 90px;
}
.form_element textarea{
  width: 30%
}

.form_element:nth-child(5) label{
  width:15%;
}
.btn button{
  font-size: 100px;
}
iframe{
  width:70%;
  height:50vh;
  border: none
}
}